.cards-wrapper {
    /* width: 375px;
   height: 812px; 
   background-color: aquamarine;
   position: absolute;*/

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   padding-top: 10px;
   
}

.cards-wrapper > .memory-card {
margin-bottom: 10px;
}